:root{
  font-family: sans-serif;
  color: white;
}
body {
  margin: 0;
  padding: 0;
}

footer{
  background-color:#4EB7DA;
  padding-bottom: 50px;
}

table{
  width: 100%;
  table-layout: fixed;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

footer h1{
  font-size: 30px;
}
.foodcontainer{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  grid-gap:  125px;
  text-align: center;
  flex-shrink: 0.5;
  grid-row-gap: 250px;
}

.foodcontainer-box {
  text-align: center;
}
.foodcontainer-box-area{
  width: 20rem;
  height: 19rem;
}

.foodtext{
  color: #baeff6;
  font-size: 18px;
}
.foodtext h1{
  font-size: 25px;
  color:#4EB7DA;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  grid-gap:  150px;
  text-align: center;
=}
.container-box-img{

}
.WelcomeContainer{
background-color: #baeff6;
display: flex;
justify-content: center;
}

.container-box {
  text-align: center;
}
.container-box-area{

  background-color: #4EB7DA;
  width: 20rem;
  height: 19rem;


}

.container-box-area-2{
  background-color: #baeff6;
  width: 20rem;
  height: 15rem;
  font-size: 20px;
}

.container-box-area-2 h1{
  font-size:27px;
}
.container-box h1{
  font-size: 50px;
}
.container-box p{
  font-size: 20px;
}

.HomepageImg{
  display: block;
  background-color: #eafafc;
  height:auto;
  width:100%;
  max-width: 100%;
}
.Navbar{
  position: fixed;
  text-decoration: none;
  background-color: #baeff6;
  width: 100%;
  height:4.5rem;
}
.Navbar ul {
  list-style-type: none;

}

.Navbar a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 15px;
}
.Navbar li{
  display:inline;
}
.Navbar a:hover{
  background-color: #66dceb;
}

.button{
  text-decoration: none;
  background-color: #4EB7DA;
  padding: .3rem;
  color: white;
  font-weight: bold;
}

.FormSection h1{
  text-align: center;
  color:#4EB7DA;
  font-size: 40px;
}
.FormSection h2{
  text-align: center;
  color: #961D32;
  font-size: 40px;
}

.FormSection h3{
  text-align: center;
  color: #baeff6;
}

.FormSection input{
  border-color:#4EB7DA;
}

.FormSection textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
  border-color:#4EB7DA;
}

.FormSection p{
  color:#6c1523;
  text-align:center;
  font-size: 20px;
}

.submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:#4EB7DA;
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border: none;


}
.List ul {
  list-style-type: none;

}
.List a {
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 585px) {
  .Navbar li{
    display: block;
    text-align: center;
  }
  .Navbar{
    height:8rem;
  }
  .WelcomeContainer{
    display: block;
  }
  .container{
    grid-gap: 20px;
  }
}
